
.main-container {
    display: grid;
    grid-template-columns: 1fr auto;
    height: 100vh;
  }

.prediction-box{
    margin-left: 400px;
}

.description-box {
    background-color: #f5f5f5;
    padding: 25px;
    width: 400px;
    height: 100vw;
    border: 1px solid #ddd;
    text-align: left;
    font-size: 12px;
    height: 100vh;
    overflow-y: auto;
    position: fixed;
}

.selected-image-container {
    text-align: center;
}

.selected-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

li {
    padding-inline-start: 0;
}